# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


.env

VITE_SUPABASE_URL=https://wogtaozupimvfzhofthd.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndvZ3Rhb3p1cGltdmZ6aG9mdGhkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzA5OTYxNzcsImV4cCI6MjA4NjU3MjE3N30.4starsL1YMQ8cGjOO6K6Hm4cEjOwnoXUCHv94YghjS8

VITE_EMAILJS_PUBLIC_KEY=ze1-SY3Aypt5Y3dFO
VITE_EMAILJS_TEMPLATE_ID=template_qmdxeeh

VITE_GEMINI_API_KEY=AIzaSyDIaBzyxLxfviDUbPoL0kdHVCeFQF7Pzok
